Source: recoll
Section: x11
Priority: optional
Maintainer: Jean-Francois Dockes <jfd@recoll.org>
Build-Depends: debhelper,
               dh-python,
               bison,
               libaspell-dev,
               libchm-dev,
               libjsoncpp-dev (>= 1.9.0),
               libmagic-dev,
               libx11-dev,
               libxapian-dev,
               libxslt1-dev,
               libz-dev,
               meson,
               ninja-build,
               pkgconf,
               python3-all,
               python3-all-dev,
               python3-setuptools,
# Note qt5webkit5 is gone from Debian/Ubuntu as of Trixie/Plucky, except on raspbian armhf because
# the ARM v6 compat prevents using chromium / webengine
               qt6-base-dev, qt6-webengine-dev, qt6-l10n-tools, qt6-tools-dev
Vcs-Git: https://salsa.debian.org/debian/recoll.git
Vcs-Browser: https://salsa.debian.org/debian/recoll
Homepage: https://www.recoll.org
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: recoll
Architecture: all
Depends: recollcmd (= ${binary:Version}), recollgui (= ${binary:Version}), ${misc:Depends}
Description: Personal full text search package
 This package is a personal full text search package is based on a very strong
 backend (Xapian), for which it provides an easy to use and feature-rich
 interface.
 .
 Features:
  * Qt-based GUI.
  * Supports the following document types (and their compressed versions)
   - Natively: text, html, OpenOffice files,  excel, ppt, maildir and
     mailbox (Mozilla and IceDove mail) with attachments, pidgin log files
   - With external helpers:  pdf (pdftotext), postscript (ghostscript), msword
     (antiword), rtf (unrtf). And others...
  * Powerful query facilities, with boolean searches, phrases, filter on file
    types and directory tree.
  * Support for multiple charsets, Internal processing and storage uses Unicode
    UTF-8.
  * Stemming performed at query time (can switch stemming language after
    indexing).
  * Easy installation. No database daemon, web server or exotic language
    necessary.
  * The indexer can run either continuously or in batch.
 .
 This metapackage installs recoll GUI and commandline tools.

Package: recollcmd
Architecture: any
Breaks: recollgui (<< 1.28.5-1)
Replaces: recollgui (<< 1.28.5-1)
Depends: librecoll39 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Recommends: aspell, libjson-perl, python3, python3-recoll, xdg-utils, xsltproc
Suggests: antiword,
          djvulibre-bin,
          ghostscript,
          groff,
          libimage-exiftool-perl,
          libinotifytools0,
          libwpd-tools,
          poppler-utils,
          pstotext,
          python3-chardet,
          python3-icalendar,
          python3-lxml,
          python3-mutagen,
          python3-py7zr,
          python3-rarfile,
          python3-recoll,
          unrtf,
          untex,
          wv
Description: Command line programs for recoll
 This package contains command line programs for a personal full text search
 package recoll.
 
Package: recollgui
Architecture: any
Breaks: recollcmd (<< 1.28.5-1)
Replaces: recollcmd (<< 1.28.5-1)
Depends: recollcmd (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: GUI program and elements for recoll
 This package contains main recoll GUI for configuring, controlling and
 querying recoll indexes.

Package: python3-recoll
Architecture: any
Section: python
Depends: librecoll39 (= ${binary:Version}),
         python3,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Description: Python extension for recoll (Python3)
 Personal full text search package which is based on a very strong backend
 (Xapian), for which it provides an easy to use and feature-rich interface.
 .
 This package provides Python3 extension module for recoll which can be use to
 extend recoll such as an Ubuntu Unity Lens.

Package: librecoll39
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: librecoll (<< 1.43.2-1)
Replaces: librecoll (<< 1.43.2-1)
Multi-Arch: same
Description: Base library for recoll and related extensions
 This package contains the base code interfacing with Xapian and is used by the
 recoll commands, the Python extensions, the KDE plugins.

Package: librecoll-dev
Architecture: any
Section: libdevel
Depends: librecoll39 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: development files for librecoll
 This package  contains the development files for librecoll package, which is
 base code interfacing with Xapian and is used by the recoll commands, the
 Python extensions, the KDE plugins.
